@tailwind base;
@tailwind components;
@tailwind utilities;

.peeps-primary{
  color: #0D4370
}
.peeps-secondary{
  color: #C99665
}
.peeps-tertiary{
  color: #031725;
}

.peeps-primary-bg{
  background-color: #0D4370
}
.peeps-secondary-bg{
  background-color: #C99665
}
.peeps-tertiary-bg{
  background-color: #031725;
}