@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}

body{
  color: #031725;
}

.peeps-primary{
  color: #0D4370
}
.peeps-secondary{
  color: #C99665
}
.peeps-tertiary{
  color: #031725;
}
.peeps-moss{
  color: #677B59;
}

.peeps-primary-bg{
  background-color: #0D4370
}
.peeps-secondary-bg{
  background-color: #fefaf2
}
.peeps-tertiary-bg{
  background-color: #031725;
}

.heading-1 {
  font-size: 60px;
  font-weight: bold;
}